CompileFlags:
  Add:
  - -I/home/jonasje/stash/builds/cvp-coordspace-10/builds/m4318/workspace/sources/libcoordspaced-common
  - -isystem/usr
  - -xc++
  - -Wall
  - -std=c++20
  - --analyze
  Compiler: clang++
Diagnostics:
  ClangTidy:
    Remove:
    - readability-redundant-access-specifiers
  UnusedIncludes: Strict
  MissingIncludes: Strict
